<div class="widget-meetingupdates widget">
	<h4 class="widget-meetingupdates widget__title">Meeting Updates</h4></a>
	<span class="content">
		Unfortunately, the group that sponsored this website does not take responsibility for it, creating some difficulty with typical communication channels.
		<br /><br />If you are aware of an incorrect meeting time, you can submit a <a href="https://github.com/area63aa/area63aa.org/issues/new?template=meeting-update.md">New Issue</a> to the website project; this will require registering for a <a href="https://github.com/">GitHub</a> account.
	</span>
</div>
